@charset "UTF-8";
/*css 初始化 */
@font-face {
    font-family: 'itcast';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}

html {
    min-width: 1190px; /*响应式 1190 990*/
}

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

/*各浏览器显示不同，去掉蓝色边框*/
fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}

/*统一组合框的默认样式*/
input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input, button {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

/*防止拖动 影响布局*/
textarea {
    resize: none;
}

/*去掉行内替换元素空白缝隙*/
img {
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

body {
    font: 12px/150% "microsoft yahei", Verdana, "\5b8b\4f53"; /*宋体 unicode */
    color: #666;
    background: #f6f6f6;
}

/*清除浮动*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

/*京东色*/
.col-red {
    color: #f10215 !important;
}

/*公共类*/
.w {
    /*版心 提取 */
    width: 1190px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.al {
    text-align: left;
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}

.hide {
    display: none;
}

/*顶部广告栏start*/
.event {
    height: 80px;
    background-color: #160A38;
}

.event .w {
    position: relative;
}

.event a {
    width: 1190px;
    height: 80px;
    background: url(../images/event.png);
    display: block;
}

.event i {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    background: #2d2d2d;
    opacity: .3;
    font-family: "itcast";
    font-weight: bold;
    font-size: 18px;
    color: #FFF;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

/*顶部广告栏end*/

/*顶部工具栏start*/
.shortcut {
    height: 30px;
    border-bottom: 1px solid #DDD;
    background-color: #E3E4E5;
    line-height: 30px;
    color: #999;
}

.shortcut a {
    color: #999;
}

.shortcut .fl li {
    width: 55px;
    text-align: center;
    margin-left: 200px;
    color: #999;
    position: relative;
}

.shortcut .fl .icon1 {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
    top: 8px;
    font-family: "itcast";
    font-size: 14px;
    color: #f10215;
    line-height: 15px;
    text-align: center;
}

.shortcut .fr li {
    float: left;
    padding: 0 10px;
}

.shortcut .fr li.spacer {
    width: 1px;
    height: 10px;
    background-color: #CCC;
    padding: 0;
    margin-top: 11px;
}

.shortcut .fr .dropdown {
    padding-right: 25px;
    position: relative;
}

.shortcut .fr .dropdown i {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 10px;
    right: 5px;
    font-family: "itcast";
    line-height: 12px;
    text-align: center;
}

/*顶部工具栏end*/

/*顶部部分start*/
.header {
    background-color: #F6F6F6;
}

.header .w {
    height: 140px;
    position: relative;
}

.logo {
    width: 190px;
    height: 171px;
    background-color: #FFF;
    position: absolute;
    top: -31px;
    left: 0;
    box-shadow: 0 -12px 10px rgba(0, 0, 0, .2);
}

.logo a {
    width: 190px;
    height: 170px;
    display: block;
    background: url(../images/logo.v2.png);
    text-indent: -9999px;
}

.search {
    width: 550px;
    height: 35px;
    position: absolute;
    top: 25px;
    left: 320px;
}

.search input {
    width: 494px;
    height: 33px;
    border: 1px solid #F10215;
    float: left;
    font: 400 14px/33px "microsoft yahei";
    color: #999;
    padding-left: 4px;
}

.search button {
    width: 50px;
    height: 35px;
    background-color: #F10215;
    float: left;
    cursor: pointer;
    font-family: "itcast";
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.settleup {
    width: 113px;
    height: 33px;
    background-color: #fff;
    border: 1px solid #E3E4E5;
    position: absolute;
    top: 25px;
    right: 0;
    z-index: 2;
    line-height: 33px;
    padding-left: 75px;
}

.settleup .icon1 {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 52px;
    top: 8px;
    font-family: "itcast";
    font-size: 16px;
    color: #f10214;
    line-height: 16px;
}

.settleup .icon2 {
    /*width: 14px;*/
    height: 14px;
    position: absolute;
    left: 140px;
    top: 5px;
    background-color: #F10215;
    line-height: 14px;
    text-align: center;
    color: #FFF;
    border-radius: 7px;
    padding: 0 3px;
}

.hotwords {
    width: 500px;
    height: 31px;
    overflow: hidden;
    /*background-color: skyblue;*/
    position: absolute;
    top: 60px;
    left: 320px;
    line-height: 31px;
}

.hotwords a {
    margin-right: 10px;
    float: left;
}

.navitems {
    width: 790px;
    height: 40px;
    /*background-color: bisque;*/
    position: absolute;
    top: 100px;
    left: 200px;
}

.navitems li {
    margin-left: 30px;
    float: left;
}

.navitems a {
    display: block;
    font: 700 16px/40px "microsoft yahei";
}

.navitems .spacer {
    width: 1px;
    height: 10px;
    background-color: #CCC;
    float: left;
    margin-left: 20px;
    margin-top: 15px;
}

.treasure {
    width: 190px;
    height: 40px;
    /*background-color: purple;*/
    position: absolute;
    top: 90px;
    left: 1000px;
}

.treasure a {
    width: 190px;
    height: 40px;
    display: block;
    background: url(../images/treasure.png);
}

/*顶部部分end*/
/*底部部分start*/
.footer {
    height: 500px;
    background-color: #EAEAEA;
}

.f_service {
    height: 42px;
    border-bottom: 1px solid #DEDEDE;
    padding: 30px 0;
}

.f_service .item {
    width: 217px;
    height: 42px;
    float: left;
    position: relative;
    padding-left: 80px;
}

.f_service h5 {
    position: absolute;
    left: 35px;
    top: 0;
    width: 36px;
    height: 42px;
    font-size: 0;
}

.f_service .i1 h5 {
    background: url(../images/ico_service.png) 0 0 no-repeat;
}

.f_service .i2 h5 {
    background: url(../images/ico_service.png) 0 -43px no-repeat;
}

.f_service .i3 h5 {
    background: url(../images/ico_service.png) 0 -86px no-repeat;
}

.f_service .i4 h5 {
    background: url(../images/ico_service.png) 0 -129px no-repeat;
}

.f_service p {
    font: 700 18px/42px "microsoft yahei";
}

.service_list {

}

.f_help {
    height: 184px;
    border-bottom: 1px solid #DEDEDE;
    margin-top: 16px;
}

.f_help dl {
    float: left;
    width: 198px;
    line-height: 22px;
}

.f_help dt {
    font: 700 14px/32px "microsoft yahei";
}

.f_help .cover {
    float: right;
    width: 200px;
    height: 150px;
    background: url(../images/ico_footer.png) 0 0 no-repeat;
}

.f_help .cover_tit {
    font: 700 14px/21px "microsoft yahei";
    text-align: center;
    margin-bottom: 15px;
}

.f_help .cover_con {
    width: 180px;
    text-align: left;
    padding: 0 10px;
}

.copyright_links {
    margin-top: 16px;
}

.copyright_links span {
    color: #ccc;
}

.copyright_links a {
    margin: 8px;
}

.copyright_info {
    padding: 10px 0;
    color: #999;
}

.copyright_info p {
    line-height: 22px;
}

.copyright_info a {
    color: #999;
}

.copyright_info span {
    margin: 0 5px;
}

.copyright_auth {

}

.copyright_auth a {
    display: inline-block;
    width: 103px;
    height: 32px;
    background: url(../images/ico_footer.png) 0 -150px;
    margin: 0 1px;
}

/*底部部分end*/