/*主体部分start*/
.main {
    /*height: 480px;*/
    margin-bottom: 10px;
    background-color: #F6F6F6;
    position: relative;

}

.main .w {
    position: relative;
    z-index: 2;
}

.main_col1 {
    width: 190px;
    height: 450px;
    background-color: #6C6669;
    float: left;
    padding: 15px 0;
}

.main_col1 li {
    padding-left: 12px;
}

.main_col1 li:hover {
    background-color: #999395;
}

.main_col1 span,
.main_col1 a {
    color: #FFF;
    font: 400 14px/30px "microsoft yahei";
}

.main_col1 a:hover {
    color: #c81623;
}

.main_col2 {
    width: 790px;
    height: 480px;
    /*background-color: yellowgreen;*/
    float: left;
    margin-left: 10px;
}

.main_slider {
    margin-bottom: 10px;
    position: relative;
}

.indicator {
    width: 166px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -87px;
    border-radius: 7px;
    padding: 4px 8px;
}

.indicator i {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #FFF;
    display: inline-block;
    margin-right: 10px;
    float: left;
}

.indicator i.current {
    background-color: #DB192A;
}

#last {
    margin-right: 0;
}

.main_slider .arrow a {
    width: 30px;
    height: 60px;
    background-color: #000;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    text-align: center;
    font: 400 20px/60px "simsun"; /*图标字体*/
    color: #FFF;
    opacity: 0;
}

.main_slider .arrow .arrow-l {
    left: 0;
}

.main_slider .arrow .arrow-r {
    right: 0;
}

.main_slider:hover .arrow a {
    opacity: 0.1;
}

.main_slider .arrow a:hover {
    opacity: 0.6;
}

.extend_slider div {
    float: left;
}

.extend_slider2 {
    margin-left: 10px;
}

.main_col3 {
    width: 190px;
    height: 480px;
    background-color: #FFF;
    float: left;
    margin-left: 10px;
}

.user {
    width: 190px;
    height: 115px;
    /*background-color: pink;*/
    border-bottom: 1px solid #E6E6E6;
}

.user_info {
    width: 120px;
    height: 58px;
    padding: 17px 0 0 70px;
    position: relative;
}

.user_info .avatar {
    position: absolute;
    top: 15px;
    left: 10px;
}

.user_info .avatar img {
    width: 45px;
    height: 45px;
    border-radius: 23px;
}

.user_info p {
    font: 400 12px/150% "microsoft yahei";
}

.user_info a {
    color: #000;
}

.user_info a:hover {
    color: #c81623;
}

.user_profit {
    font-size: 0;
    margin-left: 10px;
}

.user_profit a:hover {
    background-color: #e01222;
    color: #fff;
}

.user_profit a {
    display: inline-block;
    margin-right: 10px;
    width: 70px;
    height: 20px;
    border: 2px solid #e01222;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    color: #e01222;
}

.news {
    /*width: 190px;*/
    height: 118px;
    /*background-color: yellowgreen;*/
    border-bottom: 1px solid #E6E6E6;
    padding: 0 15px;
}

.news_head {
    height: 14px;
    padding: 8px 0 4px;
    border-bottom: 1px solid #e6e6e6;
    line-height: 14px;
}

.news_head .news_first {
    padding-right: 12px;
    border-right: 1px solid #dfe0e1;
}

.news_head .news_second {
    padding-left: 12px;
}

.news_head .news_more {
    float: right;
}

.news_body {
    padding-top: 12px;
    line-height: 24px;
}

.service {
    width: 190px;
    height: 210px;
    overflow: hidden;
}

.service ul {
    width: 192px;
}

.service li {
    float: left;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.service a {
    display: block;
    width: 47px;
    height: 35px;
    padding-top: 34px;
    text-align: center;
    line-height: 35px;
    position: relative;
}

.service i {
    position: absolute;
    top: 14px;
    left: 10px;
    width: 24px;
    height: 24px;
    background: url(../images/sprite.png) 0 0 no-repeat;

}

.mobile {
    width: 190px;
    height: 36px;
    background-color: #60575A;
    position: relative;
}

.mobile i {
    width: 16px;
    height: 16px;
    background: url(../images/sprite.png) 0 -132px no-repeat;
    position: absolute;
    top: 10px;
    left: 60px;
}

.mobile span {
    color: #FFF;
    margin-left: 80px;
    font: 400 12px/36px "microsoft yahei";
}

/*主体部分end*/

.brand {
    width: 1190px;
    height: 480px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -595px;
}

.brand a {
    position: absolute;
    left: -250px;
    top: 0;
    width: 250px;
    height: 480px;
    overflow: hidden;
}

/*秒杀部分start*/
.seckill {
    height: 305px;
    margin-bottom: 30px;
}

.seckill .hd {
    padding: 0 20px 0 30px;
    height: 55px;
    background: url(../images/seckill_hd.png) 0px 0px no-repeat;
    position: relative;
}

.seckill .hd_col1 {
    float: left;
}

.seckill .hd_col1 .icon1 {
    position: absolute;
    left: -3px;
    top: -3px;
    width: 22px;
    height: 22px;
    background: url(../images/sprite_index@1x.png) -190px -50px no-repeat;
}

.seckill .hd_col1 .icon2 {
    float: left;
    width: 34px;
    height: 40px;
    background: url(../images/sprite_index@1x.png) 0 -40px no-repeat;
    margin-top: 8px;
}

.seckill .hd_col1 h3 {
    font-size: 26px;
    font-weight: 400;
    line-height: 40px;
    height: 40px;
    padding-top: 9px;
    float: left;
    color: #fff;
}

.seckill .hd_col1 a {
    padding-right: 20px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #fff;
    float: left;
    margin-top: 19px;
    margin-left: 12px;
    position: relative;
}

.seckill .hd_col1 .icon3 {
    width: 15px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 4px;
    background: url(../images/sprite_index@1x.png) -154px -40px no-repeat;
}

.seckill .hd_col2 {
    float: right;
    font-size: 14px;
    color: #FFF;
}

.seckill .hd_col2 span {
    float: left;
    line-height: 45px;
    padding-top: 10px;
}

.seckill .count_down {
    float: left;
    margin: 0 5px;
}

.seckill .count_down .num {
    float: left;
    width: 35px;
    height: 37px;
    margin-top: 10px;
    font: 700 24px/37px Arial;
    background-color: #440106;
    color: #f90013;
    text-align: center;
    border-radius: 3px;
}

.seckill .count_down .split {
    float: left;
    margin: 22px 4px 0;
    width: 4px;
    height: 12px;
}

.seckill .count_down .split i {
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #440106;
}

.seckill .count_down .split .up {
    margin-bottom: 4px;
}

.seckill .bd {
    padding: 12px 0;
    background-color: #FFF;
}

.seckill .bd .sk_list {
    float: left;
    width: 1000px;
    height: 226px;
}

.seckill .sk_list li {
    float: left;
    width: 170px;
    height: 225px;
    padding: 0 14px 0 15px;
    border-right: 1px solid #e7e7e7;
    text-align: center;
    position: relative;
}

.seckill .sk_list li img {
    margin: 17px 0;
}

.seckill .sk_list .sk_item_shadow {
    position: absolute;
    left: 0;
    top: 130px;
    text-align: center;
    background: url(../images/sprite_index@1x.png) 0 0 no-repeat;
    width: 170px;
    height: 20px;
}

.seckill .sk_list a p {
    display: block;
    max-width: 100%;
    overflow: hidden;
    font-size: 12px;
    text-align: left;
    height: 32px;
    line-height: 16px;
    word-wrap: break-word;
    word-break: break-all;
}

.seckill .bd .special {
    float: right;
    margin-right: 10px;
    text-align: center;
}

/*秒杀部分end*/
/*楼层部分start*/
.floor {
    height: 100px;
    background-color: #F6F6F6;
}

/*楼层部分end*/
